@font-face {
    font-family: "Inconsolata";
    src: url(fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "violet-sans";
    src: url(fonts/violet-sans/fonts/WOFF/VioletSans-Regular.woff)
}
html {
    background-color: #0d0d0d;
}
body {
    font-family: "violet-sans", "Inconsolata", monospace;
    font-size: 100%;
    text-align: justify;
    line-height: 140%;
    margin: auto;
    max-width: 900px;
    padding: 10px 30px 20px 30px;
}
header {
    color: #f2f2f2;
}
nav {
    text-align: right;
    color: #f2f2f2;
}
hr {
    border: 0px;
    height: 1px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}
main {
    color: #f2f2f2;
}
h3 {
    color: #f2f2f2;
}
a {
    color: #0d0d0d;
    background-color: #a6a6a6;
    text-decoration: none;
}
a:hover{
    color: #f2f2f2;
    background-color: #737373;
}
::selection {
    color: #737373;
    background-color: none;
}
img {
    border: 1px solid #a6a6a6; */
    /* border-radius: 6.25%; */
    /* box-shadow: 0 4px 8px 0 #737373, 0 6px 20px 0 #a6a6a6; */
}
.pillar {
    float: left;
    width: 25%;
    padding: 0px 0px 0px 0px;
}
.sequence::after {
    content: "";
    clear: both;
    display: table;
}