@font-face {
    font-family: "Inconsolata";
    src: url(fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "violet-sans";
    src: url(fonts/violet-sans/fonts/WOFF/VioletSans-Regular.woff)
}
@font-face {
    font-family: "sf-mono";
    src: url(fonts/sf-mono/SFMonoRegular.woff)
}
@font-face {
    font-family: "ACROTSRG";
    src: url(fonts/ACROTSRG/ACROTSRG.TTF);
}
@font-face {
    font-family: "clubbed_to_life";
    src: url(fonts/clubbed_to_life/Clubbed\ to\ Life.otf);
}
@font-face {
    font-family: "ArcadeFuture";
    src: url(fonts/ArcadeFuture/Arcade\ Future\ DEMO.otf);
}
@font-face {
    font-family: "ia-writer-duospace";
    src: url(fonts/ia-writer-duospace/iAWriterDuospace-Regular.otf);
}
@font-face {
    font-family: "hack";
    src: url(fonts/hack/Hack-Regular.ttf);
}
@font-face {
    font-family: "PROSTY";
    src: url(fonts/PROSTY/PROSTYExtendedBlackItalic.ttf);
}
@font-face {
    font-family: "Dutch";
    src: url(fonts/Dutch/Dutch.ttf);
}
@font-face {
    font-family: "Aestetico";
    src: url(fonts/Aestetico/aestetico-fsp.otf);
}
@font-face {
    font-family: "Impact";
    src: url(fonts/Impact-Font/impact.ttf);
}
@font-face {
    font-family: "CTBold";
    src: url(fonts/CTBold/CTBold/CTBold.ttf);
}
html {
    background-color: #000000;
}
body {
    font-family: "violet-sans";
    font-size: 80%;
    text-align: justify;
    line-height: 140%;
    letter-spacing: 0px;
    margin: auto;
    max-width: 900px;
    padding: 10px 30px 20px 30px;
}
header {
    font-family: "PROSTY";
    color: #f2f2f2;
}
nav {
    font-family: "CTBold";
    font-size: 140%;
    text-align: right;
    color: #f2f2f2;
}
hr {
    border: 0px;
    height: 1px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}
main {
    color: #f2f2f2;
}
h3 {
    color: #f2f2f2;
}
a {
    color: #f20505;
    text-decoration: none;
}
a:hover{
    color: #f2f2f2;
}
::selection {
    color: #737373;
    background-color: none;
}
img {
    border: 1px solid #a6a6a6;
    /* border-radius: 6.25%; */
    /* box-shadow: 0 4px 8px 0 #737373, 0 6px 20px 0 #a6a6a6; */
}
.pillar {
    float: left;
    width: 25%;
    padding: 0px 0px 0px 0px;
}
.sequence::after {
    content: "";
    clear: both;
    display: table;
}

.quote {
    font-family: "violet-sans";
    font-size: 60%;
    text-align: right;
}
#wrapper{
    width:100px;
    text-wrap: nowrap;

}
#wrapperBig{
width: 100px;
    text-wrap: nowrap;



   

}

#wrapperBig2{
    max-width: 60%;
    height: auto;
    display: flex;
   

   

}
.alpha{

display: grid;


}
